{% extends "general/base.html" %}

{% block content %}

  <!-- <div class="actual-form">
    <form method="POST">
      {% csrf_token %}
      <fieldset>
        <legend>Start Your Orchard</legend>
        {{ form.as_p }}
      </fieldset>
      <div>
        <button type="submit">Start Your Orchard</button>
      </div>

    </form>
  </div> -->

  <div class="Wrapper">

      <div class="Quote">
          <h1>"The best time to plant a tree was 20 years ago. The second best time is now."</h1>
          <h3><i>-Chinese proverb</i></h3>
      </div>
      <div class="SignUp">

          <h1 class="SignUp-header">Sign Up</h1>

          <!-- <form action ="" class="SignUp-container">
            <p><input type="text" name="firstname" placeholder="First Name"></p>
            <p><input type="text" name="lastname" placeholder="Last Name"></p>
            <p><input type="text" name="email" placeholder="Email Address"></p>
            <p><label>Banks Used</label></p>
            <div class="checkBoxes">
            <label><input type="checkbox" name="wellsFargo" value="Wells Fargo"> Wells Fargo</label>
            <label><input type="checkbox" name="bankOfAmerica" value="Bank of America">Bank of America</label>
            <label><input type="checkbox" name="sunTrust" value="SunTrust">Sun Trust</label>
          </div>
            <p><input type="text" name="password" placeholder="Password"></p>
            <p><input type="text" name="password2" placeholder="Confirm Password"></p>
            <p><input type="submit" value="Start Your Orchard"></p>
          </form> -->

          <form method="POST">
            {% csrf_token %}
            <fieldset>
              {{ form.as_p }}
            </fieldset>
            <p><input type="submit" value="Start Your Orchard"></p>
          </form>
          </div>
          <div class="instructions">
            <h3>How Green Orchard Works</h3>
              <p>
                To begin, sign up for an account on this page or log in if you have already made an account. Upon logging in, your CSV file(s) from your banks will be retrieved and uploaded. This will pull all of your expenses into Green Orchard and automatically generate tables and charts sorting and displaying your expenditures for your review.
              </p>
              <p>Still confused? See our <a href="{% url 'faq' %}">FAQs</a>.</p>
            </div>
  </div>

{% endblock %}
