body {
    font-family: 'Dosis', sans-serif;
    background-image: url("https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?cs=srgb&dl=branch-bright-freshness-1353938.jpg&fm=jpg");
    background-attachment: fixed;
}

.Header {
    border-bottom: 1px solid black;
    text-shadow: 1px 1px 1px black;
    font-size: 100%;
}

ul {
    white-space: nowrap;
}

li {
    display: inline;
    padding: 1%;
}

h2 {
    text-align: center;
    padding: 1%;
}

.questions h3 {
    padding: 1%;
    text-decoration: underline;
}

h4 {
    font-weight: 800;
    padding: 1%;
    font-size: 150%;
}

p {
    padding: 1%;
}

.QuestionNav {
    text-align: center;
}

.QuestionNav a {
    font-weight: bold;
    color: black;
    /* text-shadow: 1px 2px 1px black; */
}

.QuestionCategory {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.EmailLink {
    border: 3px outset #16ca16;
    text-align: center;
}

.container {
    font-size: 125%;
    animation: fadein 3s;
    -moz-animation: fadein 3s; /* Firefox */
    -webkit-animation: fadein 3s; /* Safari and Chrome */
    -o-animation: fadein 3s; /* Opera */
}

/* --------------------------------------------------------- */
/* Media Queries */
/* --------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 609px) {
    ul {
        white-space: normal;
        /* margin-left: 1rem; */
        margin-right: 2rem;
    }

    h1 {
        text-align: center;
    }

    h3, h4, p {
        padding: 2%;
    }
}

/* -------------------------------------------------- */
/* CSS Transitions */
/* -------------------------------------------------- */

@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.88;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.88;
    }
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.88;
    }
}

@-o-keyframes fadein { /* Opera */
    from {
        opacity: 0;
    }
    to {
        opacity: 0.88;
    }
}