body {
    font-family: 'Dosis', sans-serif;
    background-image: url("https://images.pexels.com/photos/240040/pexels-photo-240040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-color: black;
}

.SiteName {
    text-align: center;
    font-size: 250%;
    text-shadow: 3px 3px 3px white;
    animation: fadein 4s;
    -moz-animation: fadein 4s; /* Firefox */
    -webkit-animation: fadein 4s; /* Safari and Chrome */
    -o-animation: fadein 4s; /* Opera */
}

@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}

.LoginBox {
    position: absolute;
    top: 1rem;
    right: 2rem;
    padding: 1%;
    border: 2px outset #16ca16;
    background-color: rgb(207, 231, 139);
    width: 20rem;
    text-align: center;
    opacity: .88;
}

.LoginBox h3 {
    font-size: 120%;
}

.LoginInputs {
    display: flex;
    align-items: center;
}

.LoginInputs a:visited {
    color: black;
}

.AboutGreenOrchard {
    border: 2px outset #16ca16;
    font-size: 125%;
    width: 25rem;
    padding: 1%;
    text-shadow: 1px 1px 1px white;
    background-color: rgb(207, 231, 139);
    margin: auto;
    text-align: center;
    opacity: .8;
}

.Quotes {
    /* float: left; */
    border: 2px outset #16ca16;
    font-size: 125%;
    width: 20rem;
    text-align: center;
    padding: 1%;
    text-shadow: 1px 1px 1px white;
    background-color: rgb(207, 231, 139);
    /* margin-left: 40%; */
    margin: auto;
    opacity: .8;
}

.GrowYourOrchard {
    /* position: absolute; */
    bottom: 1rem;
    /* margin-left: 35%; */
    margin: auto;
    font-size: 150%;
    text-align: center;
}

.GrowYourOrchard h2 {
    text-shadow: 1px 1px 1px white;
}

h2 a {
    color: #16ca16;
    text-shadow: 2px 2px 2px black;
}

h2 a:hover {
    color: black;
    text-shadow: 2px 2px 2px #16ca16;
}

/* --------------------------------------------------------- */
/* Media Queries */
/* --------------------------------------------------------- */

@media screen and (min-width: 0px) and (max-width: 1199px) {
    .LoginBox {
        position: relative;
        margin: auto;
        top: -2rem;
    }

    .AboutGreenOrchard {
        position: relative;
        margin: auto;
    }
}