body {
    font-family: 'Dosis', sans-serif;
}

.Container {
    border: 2px inset black;
    background-color: lightgray;
    display: flex;
    flex-direction: row;
    padding: 0.5%;
    width: 100%;
}

.Copyright {
    margin-right: auto;
    margin-left: 2%;
    width: 15%;
    font-weight: bold;
    border-right: 1px solid black;
}

.OurInfo {
    /* border: 1px solid red; */
    width: inherit;
    float: left;
    align-content: center;
    border-left: 1px solid black;
    justify-content: space-between;
}

.OurInfo p {
    margin-left: 13%;
    margin-right: 8%;
    display: inline-block;
}

i {
    color: #16ca16;
}

a {
    filter: invert(0%);
}

a:hover {
    transform: scale(1.3);
    animation-name: zoom;
    animation-duration: .25s;
    animation-fill-mode: forwards;
    filter: invert(20%);
}

@media screen and (max-width: 1136px) {
    .OurInfo p {
        margin-left: 3%;
        margin-right: 3%;
    }
}

@media screen and (max-width: 523px) {
    .Container {
        display: none;
    }
}