{% extends "general/base.html" %}

{% block content %}



<div class="container">

<div class="Header">
    <h1>Meet the Team</h1>
</div>

<div class="MissionStatement">
    <h2>Our Mission</h2>
    <p>Green Orchard was developed to make it easy for you to track your finances. </p>
</div>

<h2>About Us</h2>

<div class="AboutUs">

  {% for dev in dev_info %}
    <div class="About">
      <h3>{{ dev.name }}</h3>
      <p>{{ dev.bio }}</p>
      <span>
        <a href="{{ dev.github }}" target="_blank"><i class="fab fa-github-square fa-lg"></i></a>
        <a href="{{ dev.linkedin }}" target="_blank"><i class="fab fa-linkedin fa-lg"></i></a>
      </span>
    </div>

  {% endfor %}
</div>

</div>
{% endblock %}
