{% extends "general/base.html" %}

{% block content %}
  <div class="Header">
      <h1>Frequently Asked Questions</h1>
  </div>

  <h2>Search questions by category:</h2>

  <nav class="QuestionNav">
    <ul> |
      {% for topic in faq_content.keys %}
        <li><a href="#{{ topic }}">{{ topic }}</a></li> |
      {% endfor %}
    </ul>
  </nav>


  {% for topic, value in faq_content.items %}
    <h3 class="QuestionCategory" id="{{ topic }}">{{ topic }}</h3>
    {% for inquiry in value %}
      <h4>{{ inquiry.Question }}</h4>
      <p>{{ inquiry.Answer }}</p>
    {% endfor %}
  {% endfor %}


  <div class="EmailLink">
      <h3>Still have questions?</h3>
      <p>Email <a href="#">example@greenorchard.com</a> and we will respond within 2 business days.</p>
  </div>

{% endblock %}
